<div class="header">
    <div class="container-fluid headerNav rounded">
        <nav class="navbar navbar-expand-md ">
            <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('img/logoBan.png') }}" alt="Logo du site Sortir"></a>
            <button class="navbar-toggler  " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if app.user == null %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('index') }}">Accueil du site</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_login') }}">Se connecter</a>
                        </li>

                    {% elseif "ROLE_ADMIN" in app.user.roles %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false" role="button">Panneau Admin</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-light" href="{{ path('app_register') }}">Enregistrer un
                                    élève</a>
                                <a class="dropdown-item text-light" href="{{ path('user_list') }}">Liste des
                                    utilisateurs</a>
                            </div>
                        </li>


                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('ville_list') }}">Villes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('campus_index') }}">Campus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('user_show', {'id': app.user.id }) }}">Mon
                                Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    {% endif %}


                </ul>
            </div>
        </nav>
    </div>
</div>
