<div class ="container">
    <nav >
        <ul class ="nav">

            <li class ="nav-item">
                <a class="nav-link text-white" href="{{ path('sortie_add') }}">sortie</a>
            </li>

            {% if app.user %}
            <li class ="nav-item">
                <a class="nav-link text-white" href="{{ path('ville_list') }}">Villes</a>
            </li>
            <li class ="nav-item">
                <a class="nav-link text-white" href="{{ path('campus_index') }}">Campus</a>
            </li>

            <li class ="nav-item">
                <a class="nav-link text-white" href="{{ path('user_show', {'id': app.user.id }) }}">Mon Profil</a>
            </li>


                {% if app.user.roles == ['ROLE_ADMIN','ROLE_USER'] %}
                    <li class ="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_register') }}">Panneau Admin</a>
                    </li>
                    {% endif %}

                <li class ="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            {% else %}
            <li class ="nav-item">
                <a class="nav-link text-white" href="{{ path('index') }}">Accueil</a>

            <li class ="nav-item">
                <a class="nav-link text-white" href="{{ path('app_login') }}">Se connecter</a>
            </li>
            {% endif %}


        </ul>
    </nav>
</div>