{% extends 'base.html.twig' %}

{% block title %}Sortir.com ! | Index {% endblock %}

{% block body %}



    <div class="containerAcceuil">
        {% block filtre %}
            {% if app.user != null %}
                <div class="flex_filtre">
                    {{ form(filtreForm) }}
                </div>

            {% endif %}

        {% endblock %}

        <div class="containerIndex">
            <h1 class="text-white">Les Evenements en cours : </h1>
            <div class="table-responsive">
                <table class="table table-light table-striped ">

                    <thead class="thead-light">
                    <tr>
                        <th>Nom de la Sortie</th>
                        <th>Date de la Sortie</th>
                        {% if app.user != null %}
                            <th class="responsiveHide">Clotûre</th>
                            <th class="responsiveHide">inscrits/places</th>
                            <th class="responsiveHide">Etat</th>

                            <th class="responsiveHide">Inscrit</th>
                            <th class="responsiveHide">Organisateur</th>
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        {% if app.user is null %}

                        <tr>
                            <td>
                                <div class="text-body">{{ sortie.nom }}</div>
                            </td>
                            <td>
                                <div class="text-secondary">{{ sortie.dateDebut | date('d M Y H:i:s') }}</div>
                            </td>

                        </tr>
                        {% elseif app.user !=null %}

                                <tr>
                                    <td>
                                        <div class="text-body">{{ sortie.nom }}</div>
                                    </td>
                                    <td>
                                        <div class="text-secondary">{{ sortie.dateDebut | date('d M Y H:i:s') }}</div>
                                    </td>
                                    <td class="responsiveHide">
                                        <div class="text-danger">{{ sortie.dateLimite | date('d M Y') }}</div>
                                    </td>
                                    <td class="responsiveHide">
                                        <div class="text-secondary">{{ sortie.participant_count }}
                                            /{{ sortie.nbInscriptionMax }}</div>
                                    </td>
                                    <td class="responsiveHide">
                                        <div class="text-success font-weight-bold">{{ sortie.etatNom }}</div>
                                    </td>
                                    {% if app.user in sortie.participantsId.%}


                                         TEUB
                                        <div class="text-info responsiveHide">Inscrit</div>
                                    {% else %}
                                        <div class="text-danger responsiveHide">Non Inscrit</div>

                                        {% endif %}





                                    {% if (sortie.organisateurId != app.user.id) %}



                                    {% endif%}
                                    <td>
                                        <div class="text-body"></div>
                                    </td>
                                </tr>

                        {% endif %}

                    {% endfor %}

                    </tbody>
                </table>
                <div class="flex_between flex_div">
                    {% if currentPage > 1 %}
                        <a class="buttonResponsive btn btn-info mb-2"
                           href="{{ path('index',{'page': currentPage -1}) }}">Previous page</a>
                    {% else %}
                        <div></div>
                    {% endif %}
                    {% if currentPage < maxPage %}
                        <a class="buttonResponsive btn btn-info mb-2"
                           href="{{ path('index',{'page': currentPage +1}) }}">Next page</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}