{% extends 'base.html.twig' %}

{% block title %}Sortir.com ! | Index{% endblock %}

{% block banniere %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex  align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="slider_text ">
                            <span class="span">Sortir.com</span>
                            <h3 class="balise1"> Take a pause, enjoy the experience ! </h3>
                            <p class="balise2">Pour mieux se retrouver, autant tout programmer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

<div>
    {#         containerFiltre #}
    <div class="container">
        {% block filtre %}
        <div class="row">
            {% if app.user != null %}
            <div class="col imgFiltre">Filtrer mes sorties</div>
            <div class=" col flex_filtre">

                    <div> {{ form_row(filtreForm.Campus) }}</div>
                    <div>{{ form_row(filtreForm.participant) }}</div>
                    <div>{{ form_row(filtreForm.pasParticipant) }}</div>
                    <div> {{ form_row(filtreForm.submit) }}</div>

                {% endif %}
            </div>
            {% endblock %}
        </div>


        <h1 class="text-white m-2 mb-3">Les Evenements en cours : </h1>

        <table class="table   table-dark table-striped table-hover table-sm ">

            <thead class="thead-light ">
            <tr>
                <th>Nom de la Sortie</th>
                <th>Date de la Sortie</th>
                <th class="responsiveHideSm">Clotûre</th>
                <th class="responsiveHideSm">inscrits/places</th>
                <th class="responsiveHideSm">Etat</th>
                {% if app.user != null %}
                    <th class="responsiveHide">Inscrit</th>
                    <th class="responsiveHide">Organisateur</th>
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>


            {% for sortie in sorties %}
                {% if app.user is null %}
                    {% if sortie.etatNom == 'Ouverte' %}
                        <tr>
                        <td>
                            <div class="text-white">{{ sortie.nom }}</div>
                        </td>
                        <td>
                            <div class="text-white">{{ sortie.dateDebut | date('d M Y H:i:s') }}</div>
                        </td>
                        <td class="responsiveHideSm">
                            <div class="text-white">{{ sortie.dateLimite | date('d M Y') }}</div>
                        </td>
                        <td class="responsiveHideSm">
                            <div class="text-white">{{ sortie.participant_count }}
                                /{{ sortie.nbInscriptionMax }}</div>
                        </td>
                        <td class="responsiveHideSm">
                            {% if sortie.etatNom == 'Passée' %}
                                <div class="text-white font-weight-bold">{{ sortie.etatNom }}</div>
                            {% else %}
                                <div class="text-info">{{ sortie.etatNom }}</div>
                            {% endif %}
                        </td>
                    {% endif %}
                {% elseif (sortie.etatNom == 'Ouverte') or (sortie.etatNom == 'Créée' and sortie.organisateurId == app.user.id) %}
                    <tr>
                        <td>
                            <div class="text-white">{{ sortie.nom }}</div>
                        </td>
                        <td>
                            <div class="text-white">{{ sortie.dateDebut | date('d M Y H:i:s') }}</div>
                        </td>
                        <td class="responsiveHideSm">
                            <div class="text-danger">{{ sortie.dateLimite | date('d M Y') }}</div>
                        </td>
                        <td class="responsiveHideSm">
                            <div class="text-secondary">{{ sortie.participant_count }}
                                /{{ sortie.nbInscriptionMax }}</div>
                        </td>
                        <td class="responsiveHideSm">
                            {% if sortie.etatNom == 'Passée' %}
                                <div class="text-danger font-weight-bold">{{ sortie.etatNom }}</div>
                            {% else %}
                                <div class="text-info">{{ sortie.etatNom }}</div>
                            {% endif %}
                        </td>
                        <td class="responsiveHide">
                            {% set isCurrentUserParticipant = false %}
                            {% set loopBreak = false %}
                            {# Vérifier si le current User fait partie des participants #}
                            {% for inscrit in sortiesUserInscrit %}
                                {% if not loopBreak %}
                                    {% if sortie.id == inscrit.id %}
                                        {% set isCurrentUserParticipant = true %}
                                        {% set loopBreak = true %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if isCurrentUserParticipant %}
                                <div class="text-info responsiveHide">Inscrit</div>
                            {% else %}
                                <div class="text-primary responsiveHide"></div>
                            {% endif %}
                        </td>
                        <td class="responsiveHide">
                            <div class="text-white">{{ sortie.organisateurNom }}</div>
                        </td>
                        <td class="containerBouton">
                            {% if(sortie.organisateurId != app.user.id) %}
                                {# Gérer les boutons si user n'est pas organisateur de la sortie #}
                                {% if isCurrentUserParticipant and sortie.etatId =='2' %}
                                    <button type="button" class="btn btn-info mb-2 buttonResponsive">
                                        <a class="text-white"
                                           href="{{ path('sortie_eventRemove', {'eventId': sortie.id}) }}"
                                           onclick="return confirm('Etes vous sur de vouloir vous désister de cet événement ? ')">OUT</a>
                                    </button>
                                {% elseif sortie.etatId =='2' %}
                                    <button type="button" class="btn btn-info mb-2 buttonResponsive">
                                        <a class="text-white"
                                           href="{{ path('sortie_eventRegister', {'eventId': sortie.id}) }}"
                                           onclick="return confirm('Etes vous sur de vouloir vous inscrire à cet événement ? ')">IN</a>
                                    </button>
                                {% endif %}
                                <button type="button" class="btn btn-primary mb-2 buttonResponsive">
                                    <a class="text-white m-2"
                                       href="{{ path('sortie_show', {'eventId': sortie.id}) }}">Détails</a>
                                </button>
                                {# Gérer les boutons si user est organisateur de la sortie #}
                            {% elseif sortie.organisateurId == app.user.id %}
                                {# affichage des boutons selon connexion, inscrit et selon état #}
                                {% if isCurrentUserParticipant and sortie.etatId =='2' %}
                                    <button type="button" class="btn btn-info mb-2 buttonResponsive">
                                        <a class="text-white"
                                           href="{{ path('sortie_eventRemove', {'eventId': sortie.id}) }}"
                                           onclick="return confirm('Etes vous sur de vouloir vous désister de cet événement ? ')">OUT</a>
                                    </button>
                                {% elseif sortie.etatId =='2' %}
                                    <button type="button" class="btn btn-info mb-2 buttonResponsive">
                                        <a class="text-white"
                                           href="{{ path('sortie_eventRegister', {'eventId': sortie.id}) }}"
                                           onclick="return confirm('Etes vous sur de vouloir vous inscrire à cet événement ? ')">IN</a>
                                    </button>
                                {% endif %}
                                <button type="button" class="btn btn-primary mb-2 buttonResponsive">
                                    <a class="text-white"
                                       href="{{ path('sortie_show', {'eventId': sortie.id}) }}">Détails</a>
                                </button>

                                <button type="button" class="btn btn-primary mb-2 buttonResponsive">
                                    <a class="text-white" href="">Modifier</a>
                                </button>


                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>

    </div>

    <div class="hide_on_small">
        <button type="button" class="btn btn-primary mb-2">
            <a href="{{ path('sortie_add') }}" class="text-white">Créer une nouvelle sortie</a>
        </button>
    </div>
</div>
    {% endblock %}
