{% extends 'base.html.twig' %}

{% block title %}Sortir.com !{% endblock %}

{% block body %}
<div class="containerIndex">
    <h1 class="text-white">Les Evenements en cours : </h1>
    <table class="table table-light table-striped">
        <thead class="thead-light">
        <tr>
            <th>Nom de la Sortie</th>
            <th>Date de la Sortie </th>
            <th>Clotûre </th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody >
        {% set isCurrentUserParticipant = false %}
        {% set loopBreak = false %}
        {% for sortie in sorties %}
                {#            Vérifier si le current User fait partie des participants#}
            {% if not loopBreak %}
                {% for inscrit in sortiesUserInscrit %}
                    {% if  sortie.nom  == inscrit.nom  %}
                        {% set isCurrentUserParticipant = true %}
                        {% set loopBreak= true %}
                    {% endif %}
                {% endfor%}
            {% endif %}

            <tr>
                <td ><div class="text-body">{{ sortie.nom }}</div></td>
                <td><div class="text-secondary">{{ sortie.dateDebut | date('d M Y H:i:s')}}</div></td>
                <td><div class="text-danger">{{ sortie.dateLimite | date('d M Y')}}</div></td>
                <td><div class="text-secondary">{{ sortie.participant_count }}/{{ sortie.nbInscriptionMax }}</div></td>
                <td><div class="text-warning ">{{ sortie.etat }}</div></td>
                <td><div class="text-info">{{ isCurrentUserParticipant ? 'Inscrit' : ' ' }}</div></td>
                <td><div class="text-secondary">{{ sortie.organisateur }}</div></td>
                <td>
                    {% if isCurrentUserParticipant %}
                        <button type="button" class="btn btn-info mb-2"><a class="text-white" href="{{ path('eventRemove', {'sortieId': sortie.id})  }}" onclick="return confirm('Etes vous sur de vouloir vous désister de cet événement  ? ')">Se désister</a></button>
                    {% else %}
                        <button type="button" class="btn btn-info mb-2"><a class="text-white" href="{{ path('eventRegister', {'sortieId': sortie.id})  }}" onclick="return confirm('Etes vous sur de vouloir vous inscrire à cet événement  ? ')">S'inscrire</a></button>
                    {% endif%}
                    <button type="button" class="btn btn-primary mb-2"><a class="text-white" href="" onclick="return confirm('Etes vous sur de vouloir supprimer ce Campus ? ')">Modifier</a></button>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}
