{% extends 'base.html.twig' %}



{% block title %}{{parent()}} | Ajouter une Sortie{% endblock %}

{% block body %}
    <div class="form-group"></div>
    {{ form_start(sortieForm) }}

    {{ form_row(sortieForm.nom, {'attr': {'class': 'form-control', 'style': 'width: 600px;' }})}}
    {{ form_row(sortieForm.infoSortie) }}
    {{ form_row(sortieForm.dateDebut) }}
    {{ form_row(sortieForm.dateLimite) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.nbInscriptionMax) }}
    {{ form_row(sortieForm.ville) }}

    {{ form_row(sortieForm.lieu) }}
    {{ form_row(sortieForm.save) }}


    {{ form_end(sortieForm) }}

{% endblock %}
{% block javascripts %}
    <script>
        window.onload = () => {
            // On écoute l'événement de changement de la ville
            let ville = document.querySelector("#ajout_sortie_ville");

            ville.addEventListener("change", function() {
                console.log("change");
                let form = this.closest("form"); // On récupère le formulaire parent
                let data = new URLSearchParams();
                data.append(this.name, this.value); // On ajoute les données de la ville au formulaire

                // On envoie une requête Ajax pour récupérer les lieux correspondants
                fetch("{{ path('sortie_lieux_par_ville') }}", {
                    method: form.getAttribute("method"), // On récupère la méthode du formulaire
                    body: data, // On envoie les données de la ville
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded; charset:UTF-8" // On précise le type de contenu de la requête
                    }
                })
                    .then(response => response.json()) // On traite la réponse comme JSON
                    .then(data => {
                        let nouveauSelect = document.createElement("select"); // On crée un nouvel élément select

                        // On parcourt les données JSON pour créer les options du sélecteur de lieu
                        data.forEach(lieu => {
                            let option = document.createElement("option"); // On crée un nouvel élément option
                            option.value = lieu.id; // On attribue la valeur du lieu à l'option
                            option.text = lieu.nom; // On attribue le nom du lieu comme texte de l'option
                            nouveauSelect.appendChild(option); // On ajoute l'option au sélecteur
                        });

                        let ancienSelect = document.querySelector("#ajout_sortie_lieu"); // On récupère l'ancien sélecteur
                        ancienSelect.parentNode.replaceChild(nouveauSelect, ancienSelect); // On remplace l'ancien sélecteur par le nouveau
                    })
                    .catch(error => {
                        console.log(error);
                    });
            });
        };

    </script>
{% endblock%}