{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-white">Mon profil</h2>

    <section>
        <br>
        <h5 class="text-white">Pseudo : {{ app.user.pseudo }} </h5>
        <div>
            <br>
            <div  class="form-control col-sm-6"  >Nom : {{ app.user.nom }}</div>
            <div class="form-control col-sm-6">Prénom : {{ app.user.prenom }}</div>
            <div class="form-control col-sm-6">Mail : {{ app.user.mail}} </div>
            <div class="form-control col-sm-6">Téléphone : {{ app.user.telephone }}</div>
            <div class="form-control col-sm-6">Campus : {{ app.user.campus.nom}} </div>

        </div>

        <br>
        <a href="{{ path('app_main') }}"><button class="btn btn-light mb-2">Retour</button></a>
        <button class="btn btn-light mb-2">Modifer</button>
    </section>

{% endblock %}

{% block title %}

{% endblock %}

