{% extends 'base.html.twig' %}

{% block body %}
    <h2>Mon profil</h2>

    <section>
        <h4>Pseudo : {{ app.user.pseudo }} </h4>
        <div>

            <div>Nom : {{ app.user.nom }}</div>
            <div>Prénom : {{ app.user.prenom }}</div>
            <div>Mail : {{ app.user.mail}} </div>
            <div>Téléphone : {{ app.user.telephone }}</div>
            <div>Campus : {{ app.user.campus.nom}} </div>

        </div>

        <br>
        <a href="{{ path('app_main') }}"><button>Retour</button></a>
        <button>Modifer</button>
    </section>

{% endblock %}

{% block title %}

{% endblock %}

