{% extends 'base.html.twig' %}

{% block body %}


    <section>

        <div class="container">
            <h2 class="text-white">Mon profil</h2>
            <br>

            <h5 class="text-white">Pseudo : {{ app.user.pseudo }} </h5>
            <br>
            <div  class="form-control champShow"  >Nom : {{ app.user.nom }}</div>
            <div class="form-control ">Prénom : {{ app.user.prenom }}</div>
            <div class="form-control ">Mail : {{ app.user.mail}} </div>
            <div class="form-control ">Téléphone : {{ app.user.telephone }}</div>
            <div class="form-control ">Campus : {{ app.user.campus.nom}} </div>
        </div>

        <br>
        <a href="{{ path('index') }}"><button class="btn btn-light mb-2">Retour</button></a>
        <a href="{{ path('user_update', {'id': user.id}) }}"><button class="btn btn-light mb-2">Modifer</button></a>
    </section>

{% endblock %}

{% block title %}

{% endblock %}

