{% extends 'base.html.twig' %}

{% block body %}

    {# supprime le contour des inputs #}
    <style>
        .form-control input {
            border: none;
            outline: none;
            box-shadow: none;
        }
    </style>

    <div class="text-white">

            <h2>Mise à jour du profil</h2>

        {{ form_start(userForm) }}

        <div class="container">

            {{ form_row(userForm.pseudo) }}
            {{ form_row(userForm.nom) }}
            {{ form_row(userForm.prenom) }}
            {{ form_row(userForm.telephone) }}
            {{ form_row(userForm.mail) }}
            {{ form_row(userForm.campus) }}
            {{ form_row(userForm.photo) }}

            {{ form_row(userForm.plainPassword) }}

            {% if is_granted('ROLE_ADMIN') %}

                {{ form_row(userForm.actif) }}
                {{ form_row(userForm.administrateur) }}

            {% endif %}

            <div>
                <button type="submit" class="btn btn-success mt-2">Enregistrer</button>
            </div>

        </div>



        {{ form_end(userForm) }}

{% endblock %}

{% block title %}

{% endblock %}